.quadrado {
  border: 1px solid black;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template:
  /* como fica os lugares,  */
    /* nomes podem ser qualquer, e na frente o tamanho da LINHA */
    "logo nav nav" 50px
    "sidenav content advert" 150px
    "sidenav content advert" 100px
    / 100px 1fr 100px;
  /* tamanho das colunas */
}

img {
  width: 100%;
  height: 100%;
}

.primeira {
  grid-column: span 3;
}
