* {
  padding: 0px;
  margin: 0px;
}

.calculadora-container {
  display: grid;
  /* justify-content: center;
  align-content: center; */
  align-items: center;
  justify-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.calculadora {
  border: 1px solid rgb(182, 182, 182);
  display: grid;
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: minmax(50px, auto);
  grid-auto-rows: 60px;
  gap: 5px;
  padding: 5px;
  /* width: 300px; */
  border-radius: 1px;
}

button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #ebebeb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: aqua;
  cursor: pointer;
}
button:active {
  background-color: rgb(0, 146, 146);
}

/* .igual {
  grid-column: span 2;
} */

.resultado {
  grid-column: 1 / -1;
  text-align: right;
  align-content: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  font-size: 2.5rem;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.igual {
  background-color: rgb(99, 172, 201);
}
.igual:hover {
  background-color: rgb(108, 213, 255);
}
.igual:active {
  background-color: rgb(45, 109, 134);
}

.operadores {
  background-color: #c9c9c9;
}
.operadores:hover {
  background-color: #ffd900;
}

.testejus-container {
  display: grid;
  align-content: center;
  justify-content: center;
}
.testejus {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: 100px;
  gap: 5px;
  padding: 10px;
  max-width: 300px;
  max-width: 300px;
  border: 1px solid black;

  align-items: center;
}

.botao {
  background-color: orangered;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

.botao1 {
  align-self: start;
}
